[Install]
WantedBy = default.target

[Service]
ExecStartPre = -auth-thu --daemonize deauth --ipv6
ExecStartPre = -auth-thu --daemonize auth --ipv6
ExecStart    = auth-thu --daemonize online --ipv6
Restart      = always
RestartSec   = 5

[Unit]
Description           = Authenticating utility for auth.tsinghua.edu.cn
StartLimitIntervalSec = 0
